{% extends "layout.html" %}

{% block page_title %} Home {% endblock %}

{% block body_header %}
<h1>RACES</h1>
{% endblock %}

{% block body_core %}
    {% for breed in breeds %}
      <h2><a href="/breeds/{{ breed.id }}">
        {% for img in imgs if breed.img_id == img.id %}
        <img src="/{{ img.path ~ img.type ~ img.num ~ "." ~ img.ext }}"
        width=80>
        {% endfor %}
        {{ breed.name }}</a></h2>
    {% endfor %}

  {% if breed %}
  {% if img %}
    <img src="/{{ img.path ~ img.type ~ img.num ~ "." ~ img.ext }}"
    alt="{{ breed.name }}" width=200>
    {% endif %}
    <h2>Breed: {{ breed.name }}</h2>
    <h3>Height: {{ breed.height }} cm</h3>
    <h3>Weight: {{ breed.weight }} kg</h3>
    <h3>Color: {{ breed.color }}</h3>
    <h3>Origin: {{ breed.origin }}</h3>
    {% if breed.hair_growth %}
    <h3>Hair growth: {{ breed.hair_growth }} cm/month</h3>
    {% endif %}
    {% if breed.milk_by_lactation %}
    <h3>Milk by lactation: {{ breed.milk_by_lactation }} l</h3>
    {% endif %}
    {% if breed.duration_of_lactation %}
    <h3>Duration of lactation: {{ breed.duration_of_lactation }} month</h3>
    {% endif %}
    <h3>Exploitation: {{ breed.exploitation }}</h3>
  {% endif %}


    <p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
{% endblock %}

{% block body_footer %} {% endblock %}
