{% extends "layout.html" %}

{% block page_title %} Home {% endblock %}

{% block body_header %}
<h1>HOME</h1>
{% endblock %}

{% block body_core %}
  {% if name %}
    <h2>Hello {{name}}</h2>
  {% endif %}
  <form method="get" enctype="multipart/form-data" id="goatform" name="goatform">
    <p style="text-align: center;">
      <label>Race
      <select name="race_name">
         <option>Indifferent</option>
         {% for race in races %}
            <option value="{{ race.name }}">{{race.name}}</option>
          {% endfor %}
      </select>&emsp;</label>

      <label>Gender
      <select name="gender">
        <option>Indifferent</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>&emsp;</label>

      <label>Exploitation
      <select name="exploitation">
        <option>Indifferent</option>
        <option value="milk">Milk</option>
        <option value="cheese">Cheese</option>
        <option value="meat">Meat</option>
        <option value="hair">Hair</option>
        <option value="pet">Pet</option>
        <option value="environment">Environment</option>
      </select></label>

      <label><input type="number" name="height" placeholder="Height"
      step="0.01" min=0> cm&emsp;</label>

      <label><input type="number" name="weight" placeholder="Weight"
      step="0.01" min=0> kg&emsp;</label>

      <label>Color
      <input type=text list=colors
      name="color" placeholder="Select Color">
        <datalist id=colors name="color_datalist">
          <option value="white">White</<option>
          <option value="black">Black</<option>
          <option value="grey">Grey</option>
        </datalist>
      </input></label>

        <label>Max price (0- 999 999,99€)</label>
        <input type="number" name="max_price" id="max_price" min="0" max="999999.99">
    </p>

    <div style="text-align: center;">
      <input type="submit" value="Search"/>
    </div>
  </form>

  {% for goat in goats %}
    <h2>Goats: <a href="/goats/{{ goat.id }}">{{ goat.name }}</a></h2>
  {% endfor %}

{% if goat %}
  <h2>Name: {{ goat.name }}</h2>
  <h3>Price: {{ goat.price }} €</h3>
  <h3>Age: {{ age }}</h3>
  <h3>Birthdate: {{ goat.birthdate|date("d/m/Y") }}</h3>
  <h3>Race: {{ race_name }}</h3>
  <h3>Gender: {{ goat.gender }}</h3>
  <h3>Localisation: {{ goat.localisation }}</h3>
  <h3>Description: {{ goat.description }}</h3>
  {% if goat.identification %}
  <h3>Identification: {{ goat.identification }}</h3>
  {% endif %}
  <h3>Created at: {{ goat.created_at|date("d/m/Y") }}</h3><br>
  <h3>Updated at: {{ goat.updated_at|date("d/m/Y") }}</h3><br>
  <form method="POST" action="/goats/remove">
    <input type="submit" value="Remove">
    <input type="hidden" name="id" value="{{ goat.id }}">
  </form>

  <form method="GET" action="/goats/update">
    <input type="hidden" name="id" value="{{ goat.id }}">
    <input type="submit" value="Update">
  </form>
{% endif %}

    <p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
{% endblock %}

{% block body_footer %} {% endblock %}
