{% extends "layout.html" %}

{% block page_title %} Home {% endblock %}

{% block body_header %}
<h1>RACES</h1>
{% endblock %}

{% block body_core %}
  {% if name %}
    <h2>Hello {{name}}</h2>
  {% endif %}

    {% for race in races %}
      <h2><a href="/races/{{ race.id }}">
        {% for img in imgs if race.id == img.num %}
        <img src="{{ base_url() ~ img.path ~ img.type ~ img.num ~ "." ~ img.ext }}"
        alt="{{ race.name }}" width=80>
        {% endfor %}
        {{ race.name }}</a></h2>
    {% endfor %}

  {% if race %}
    <h2>Race: {{ race.name }}</h2>
    <h3>Height: {{ race.height }} cm</h3>
    <h3>Weight: {{ race.weight }} kg</h3>
    <h3>Color: {{ race.color }}</h3>
    <h3>Origin: {{ race.origin }}</h3>
    {% if race.hair_growth %}
    <h3>Hair growth: {{ race.hair_growth }} cm/month</h3>
    {% endif %}
    {% if race.milk_by_lactation %}
    <h3>Milk by lactation: {{ race.milk_by_lactation }} l</h3>
    {% endif %}
    {% if race.duration_of_lactation %}
    <h3>Duration of lactation: {{ race.duration_of_lactation }} month</h3>
    {% endif %}
    <h3>Exploitation: {{ race.exploitation }}</h3>
  {% endif %}


    <p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
{% endblock %}

{% block body_footer %} {% endblock %}
