{% extends "layout.html" %}

{% block page_title %} Update a Goat {% endblock %}

{% block body_header %}
Update a Goat
{% endblock %}

{% block body_core %}
<div class="goat-form">
{% if goat %}
<form method="post" enctype="multipart/form-data" id="goatform" name="goatform" onsubmit="return verifForm(this)">
<div class="form-group">
      <div class="form-field">
        <label class="form-label">Name</label>
        <input class="form-control" type="text" name="name" value="{{ goat.name }}"required>
      </div>
      <div class="form-field">
        <label class="form-label">Price</label>
        <div class="form-control">
          <input type="number" name="price"
          step="0.01" min=0 onblur="verifPrice(this)" value="{{ goat.price }}"required> €
        </div>
      </div>
    </div>
      <div class="form-group">
      <div class="form-field">
        <label class="form-label">Birthdate</label>
        <input class="form-control" type="date" name="birthdate" id='birthId'
        placeholder="yyyy-mm-dd" onblur="verifBirthdate(this)"  value="{{ goat.birthdate }}">
      </div>
      <div class="form-field">
        <labe class="form-label">Breed</label>
        <input value="{{ breed_name }}" class="form-control" type=text list=breeds
        name="breed_name" placeholder="Select Breed" >
        <datalist id=breeds name="breed_datalist"
        required>
          {% for breed in breeds %}
          <option value="{{ breed.name }}">
            {% endfor %}
          </datalist>
        </div>
      </div>
      <div class="form-group">
        <div class="form-field">
          <label class="form-label">Gender</label>
          <div class="radio-field">
            {% if goat.gender == "female" %}
    <input class="form-check-input" type="radio" name="gender" value="female" checked required> Female<br>
    <input class="form-check-input" type="radio" name="gender" value="male"> Male<br>
    {% else %}
    <input class="form-check-input" type="radio" name="gender" value="female" required> Female<br>
    <input class="form-check-input" type="radio" name="gender" value="male" checked> Male<br>
    {% endif %}
    </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-field">
          <label class="form-label">Localisation</label>
          <input class="form-control" type="text"
          name="localisation" value="{{ goat.localisation }}"><br>
        </div>

        <div class="form-field">
          <label class="form-label">Identification</label>
          <input class="form-control" type="text" name="identification"
          onblur="verifIdentification(this)"
          value="{{ goat.identification }}" placeholder="XXX 000 000 00000" ><br>

        </div>
      </div>
      <div class="form-group">
        <div class="form-field">
          <label class="form-label">Description</label><br>
          <textarea class="form-control" name="description" form="goatform"
          rows="4" cols="50" placeholder="{{ goat.description }}"
    value="{{ goat.description }}"></textarea>
        </div>
      </div>


      <div class="form-group">
        <div class="form-field">
        {% if img %}
        <img src="/{{ img.path ~ img.type ~ img.num ~ "." ~ img.ext }}"
        alt="{{ goat.name }}" class="show-img">
        {% endif %}
        <input type="hidden" name="id" value="{{ goat.id }}">
        <label for="files" class="btn btn-primary">Change image</label>
        <input id="files" style="display: none;" class="form-control" type="file" name="image"/>
      </div>
    </div>


    <div class="form-group">
      <div class="search-button">
        <input style="background-color: green; border-color: green;" class="btn btn-primary" type="submit" value="Update"/>
      </div>
    </div>
</form>
{% else %}
  <h3> ERROR </h3>
{% endif %}
</div>

    <script>
    function verifIdentification(champ)
    {
      var regex=/[A-Z]{2}\s[0-9]{3}\s[0-9]{3}\s[0-9]{5}/;
      if (regex.test(champ.value)){
        return true;
      }
      else {
        return false;
      }
    }
    function verifBirthdate()
    {
      var birth=new Date(document.getElementById('birthId').value);
      var today=new Date();
      if (today.getYear()<birth.getYear()){
        return false;
      }
      if (today.getMonth()<birth.getMonth()){
        return false;
      }
      if (today.getDate()<birth.getDate()){
        return false;
      }
      else {
        return true;
      }
    }
    function verifForm(f)
    {
       var IdentificationOk = verifIdentification(f.identification);
       var BirthdateOk = verifBirthdate();
       if(IdentificationOk&&BirthdateOk)
          return true;
       else
       {
          alert("Please fill the fields correctly.");
          return false;
       }
    }
  </script>
{% endblock %}

{% block body_footer %} {% endblock %}
